.table {
  position: relative;
  border: 1px solid #f0f0f0;
  border-radius: var(--radius-default, 2px);
}

.header {
  > .col:first-child {
    border-start-start-radius: var(--radius-default, 2px);
  }

  > .col:last-child {
    border-start-end-radius: var(--radius-default, 2px);
  }
}

.tableView {
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-color: rgba(0, 0, 0, 0.25) transparent;

  &::-webkit-scrollbar {
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.25);
    border-radius: 100px;

    &:hover {
      background: rgba(0, 0, 0, 0.45);
    }
  }

  &::-webkit-scrollbar-corner {
    background: transparent;
  }
}

.grid {
  display: grid;
  width: max-content;
  min-width: 100%;
}

.header-cell {
  background: var(--bg-color-grey-1);

  .col-content {
    overflow: hidden;
    white-space: nowrap;
  }
}

.body-row {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: subgrid;

  &:last-child > .col {
    border-bottom: none;

    &:first-child {
      border-end-start-radius: var(--radius-default, 2px);
    }

    &:last-child {
      border-end-end-radius: var(--radius-default, 2px);
    }
  }
}

.body-cell {
  word-break: break-all;
}

.body.is-selected-all {
  cursor: not-allowed;
  pointer-events: none;
  color: var(--font-color-grey-2);

  > .col {
    background: var(--bg-color-grey-3);
  }
}

.body.is-selected {
  color: var(--primary-color);

  > .col {
    background: var(--primary-color-1);
  }
}

.body.is-disabled {
  cursor: not-allowed;
  pointer-events: none;
  color: var(--font-color-grey-2);
}

.body:hover:not(.is-selected-all):not(.is-selected):not(.is-disabled) > .col {
  background: var(--bg-color-grey-1);
}

.col {
  border-bottom: 1px solid #f0f0f0;
  transition: background-color 300ms;
  overflow: hidden;
  display: flex;
  align-items: var(--col-align, flex-start);
  justify-content: var(--col-justify, flex-start);

  &.col-width-based {
    width: var(--col-width);
    min-width: var(--col-width);
    max-width: var(--col-width);
  }

  &.col-width-fill {
    min-width: var(--col-width);
  }
}

.col-content {
  padding: 8px;
  display: block;
  width: 100%;
  min-width: 0;
  box-sizing: border-box;
}

:global(.ant-table-thead) .col-content {
  overflow: hidden;
  white-space: nowrap;
}

.single-checked {
  width: 30px;
  min-width: 30px;
  max-width: 30px;
  align-content: center;
  justify-content: center;
  cursor: pointer;
}

.col-fixed {
  width: 48px;
  min-width: 48px;
  max-width: 48px;
}

.empty {
  padding: 8px;
  border-end-start-radius: var(--radius-default, 2px);
  border-end-end-radius: var(--radius-default, 2px);
}
