.col-item {
  display: flex;
}

.options {
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: block;
}

.options-column {
  width: 100% !important;
}

.options-column .options-btn:global(.ant-btn) {
  :global(.ant-btn-loading-icon) {
    display: none;
  }

  &:global(.btn-no-padding) {
    padding: 0 8px;
  }

  &:hover:not(:disabled) {
    color: var(--primary-color, #1677ff);
    background: var(--primary-color-1) !important;
  }
}
